name: CI - dsmeta

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  FRONTEND_TAG: gustosilva/dsvendas-frontend-java:latest
  BACKEND_TAG: gustosilva/dsvendas-backend-java:latest

jobs:
  docker-build-and-push-frontend:
    name: Docker - Build da imagem e push no Dockerhub (Frontend)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: frontend
          push: true
          tags: ${{ env.FRONTEND_TAG }}

  docker-build-and-push-backend:
    name: Docker - Build da imagem e push no Dockerhub (Backend)
    runs-on: ubuntu-latest
    needs: docker-build-and-push-frontend
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Defines JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: "temurin"
          cache: maven

      - name: Generate jar
        env:
          TWILIO_KEY: ${{secrets.TWILIO_KEY}}
          TWILIO_PHONE_FROM: ${{secrets.TWILIO_PHONE_FROM}}
          TWILIO_PHONE_TO: ${{secrets.TWILIO_PHONE_TO}}
          TWILIO_SID: ${{secrets.TWILIO_SID}}
        run: |
          mvn -B clean package \
          -Dspring.profiles.active=test \
          -Ddynamo.serviceEndpoint=$SERVICE_ENDPOINT \
          -Ddynamo.signingRegion=$SIGNING_REGION \
          -Ddynamo.accessKey=$ACCESS_KEY \
          -Ddynamo.secretKey=$SECRET_KEY \
          --file pom.xml

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: backend
          push: true
          tags: ${{ env.BACKEND_TAG }}
