name: CI - Frontend

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  TEST_TAG: gustosilva/dsvendas-frontend-java:test
  LATEST_TAG: gustosilva/dsvendas-frontend-java:latest

jobs:
  docker-build-and-push-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and export to Docker
        uses: docker/build-push-action@v4
        with:
          context: "{{defaultContext}}:frontend"
          load: true
          tags: ${{ env.TEST_TAG }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: "{{defaultContext}}:frontend"
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.LATEST_TAG }}